<!DOCTYPE HTML>

<html>

<head>
  <title>[[title]]</title>
  <script>var debugMode = false;</script>
  <link href="style.css" type="text/css" rel="stylesheet" />
  <script src="jquery-1.11.2.min.js"></script>
  <script src="three.min.js"></script>
  <script src="classPano.js"></script>
  <script src="lib.js"></script>
</head>

<body onload="initVars();init();">

  <div id="my-container">

    <div id="my-canvas-container"></div>
    <div id="my-overlays"></div>

    <div id="dummy-container"></div>

    <div id="loading-message">loading image....</div>

    <div id="help-button" onclick="ToggleHelp();"></div>

    <div id="help">
      <p><b>Help</b></p>
      <p>Use the left mouse button, or your finger, to took around.</p>
      <p>Zoom in and out with the mouse wheel.</p>
      <p>Click a hotspot to change position.</p>
    </div>

    <div id="controls-container">
      <div class="pano-button" id="home" title="Home" style="left:10px; top:30px;" onclick="Pano.home();"></div>
      <div class="pano-button" id="arrow-left" style="left:60px; top:30px;" onmousedown="Pano.activeControl='move-left';"></div>
      <div class="pano-button" id="arrow-up" style="left:85px; top:5px;" onmousedown="Pano.activeControl='move-up';"></div>
      <div class="pano-button" id="arrow-down" style="left:85px; top:55px;" onmousedown="Pano.activeControl='move-down';"></div>
      <div class="pano-button" id="arrow-right" style="left:110px; top:30px;" onmousedown="Pano.activeControl='move-right';"></div>
      <div class="pano-button" id="zoom-in" title="Zoom In" style="left:160px; top:30px;" onmousedown="Pano.activeControl='zoom-in';"></div>
      <div class="pano-button" id="zoom-out" title="Zoom Out" style="left:195px; top:30px;" onmousedown="Pano.activeControl='zoom-out';"></div>
      <div class="pano-button" id="auto-rotate" title="Start/Stop Autorotation" style="left:245px; top:30px;" onmousedown="Pano.toggleAutorotate();"></div>
      <div class="pano-button" id="fullscreen" title="Fullscreen" style="left:280px; top:30px;" onclick="toggleFullscreen();"></div>
    </div>

  </div>

</body>

</html>
